.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  padding: 0.5rem 1rem;
  background-color: orange;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: grey;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
